.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.cart-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item-image {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details {
    text-align: left;
    flex: 1;
}

.cart-item-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 180px;
    margin: 10px auto 0;
}

.cart-item-quantity {
    margin: 0 10px;
}

.remove-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.checkout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: #45a049;
}

.cart-container p {
    color: #777;
}
